<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/normalize.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <base href="/" />
    <title>Project</title>
</head>
<body>
    <div id="root"></div>
    <script src="/dist/bundle.js"></script>
</body>
</html>